---
import styles from './Section.module.css'

export interface Props {
    pretitle: string
    title: string
    theme: 'purple' | 'green' | 'orange'
    showDecoration?: boolean
}

const { pretitle, title, theme, showDecoration = true } = Astro.props
---

<section class:list={[styles.section, [styles[`section--theme_${theme}`]]]}>
    <div class={styles.section__icon}>
        <slot name="icon" />
    </div>
    {showDecoration ? <div class={styles.section__decoration} /> : null}
    <h2 class={styles.section__pretitle}>{pretitle}</h2>
    <h3 class={styles.section__title}>{title}</h3>
    <div class={styles.section__body}>
        <slot />
    </div>
</section>
