---
import "../styles/reset.css";
import "../styles/global.css";
import "@fontsource-variable/inter";
import interWoff2 from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";
import Analytics from "@vercel/analytics/astro";

interface Props {
  /**
   * The title shown in the site meta
   */
  title: string;
  /**
   * The description shown in the site meta
   */
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={interWoff2}
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
  </head>
  <body>
    <slot />
    <Analytics />
  </body>
</html>
