---
import styles from './Nav.module.css'
---

<nav class={styles.nav}>
    <ul class={styles.nav__list}>
        <li>
            <a class={styles.nav__link} href="#about">About</a>
        </li>
        <li>
            <a class={styles.nav__link} href="#experience">Experience</a>
        </li>
        <li>
            <a class={styles.nav__link} href="#work">Work</a>
        </li>
        <li>
            <a class={styles.nav__link} href="#contact"> Contact</a>
        </li>
    </ul>
</nav>
